[submodule "AiUtil"]
	path = AiUtil
	url = https://github.com/Ai-Akaishi/AiUtil.git
[submodule "AiMath"]
	path = AiMath
	url = https://github.com/Ai-Akaishi/AiMath.git
[submodule "AnywhereTeleport"]
	path = AnywhereTeleport
	url = https://github.com/Ai-Akaishi/AnywhereTeleport.git
[submodule "PlayerItemTuner"]
	path = PlayerItemTuner
	url = https://github.com/Ai-Akaishi/PlayerItemTuner.git
[submodule "NoSleep"]
	path = NoSleep
	url = https://github.com/Ai-Akaishi/NoSleep.git
